node_modules/

nbproject/private/private/private.properties
nbproject/private/private.xml  
nbproject/*
nbproject
build/built-jar.properties
build/*
build/classes/*
*.log
nbproject/private/*    
*.bak
*.orig
*~
*.log
*private.xml



/dist/
